<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="io.appservice.webview">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application android:allowBackup="true">
        <service
            android:name="io.appservice.webview.WebViewJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:enabled="true"
            android:exported="true">
        </service>
    </application>
</manifest>
